
.about
    .text-container
        .content.container
            h3.sf-appear I feel alive when I'm making things.
            .spacer
            p.sf-appear You could ask me to make you a cake and I'd make you my best cake.
            .spacer
            figure.cake-figure.sf-appear
                img.my-best-cakesrc(src="images/making-cake.jpg" title="Brenton Cozby making a cake" alt="Brenton Cozby making a cake")
                figcaption It's been a while since I made a cake.
            .spacer
            p.sf-appear I'm not that good at making cakes, but...
            .spacer
            h3.sf-appear I'm good at making these:
            .spacer
            ul.things-i-make.sf-appear.fa-ul
                li #[i.fa-li.fa.fa-check-square-o] Websites, such as this very one. #[a(href="https://github.com/BrentonCozby/brentoncozby.com", target="_blank", rel="noopener", title="GitHub repo for brentoncozby.com") View the Code]
                li #[i.fa-li.fa.fa-check-square-o] Web Applications, like this #[a(rel="noopener", target="_blank", title="Lumber Calculator", href="https://brentoncozby.com/projects/CareForce-Lumber-Calculator/") Lumber Calculator]
                li #[i.fa-li.fa.fa-check-square-o] APIs, like this #[a(target="_blank", rel="noopener", title="Image Search API", href="https://brentoncozby.com/projects/FreeCodeCamp/image-search-fcc-cozby/") Image Search API]
            .spacer
            p.sf-appear #[strong See more below...]
            .spacer
