.story#story
    .text-container
        .content.container
            h3.appear I like making things.
            .spacer
            p.appear You could ask me to make you a cake and I'd make you my best cake.
            .spacer
            figure.cake-figure.appear
                img.my-best-cakesrc(src="https://s3-us-west-1.amazonaws.com/brentoncozby.com/making-cake.jpg" title="Brenton Cozby making a cake" alt="Brenton Cozby making a cake")
                figcaption It's been a while since I made a cake.
            .spacer
            p.appear I'm not that good at making cakes, but...
            .spacer
            h3.appear I enjoy making these:
            .spacer
            ul.things-i-make.appear.fa-ul
                li #[i.fa-li.fa.fa-check-square-o] Websites, such as this very one. #[a(href="https://github.com/BrentonCozby/brentoncozby.com", target="_blank", rel="noopener", title="GitHub repo for brentoncozby.com") View the Code]
                li #[i.fa-li.fa.fa-check-square-o] Web Applications, like this #[a(rel="noopener", target="_blank", title="Lumber Calculator", href="https://brentoncozby.com/CareForce-Lumber-Calculator/") Lumber Calculator]
                li #[i.fa-li.fa.fa-check-square-o] APIs, like this #[a(target="_blank", rel="noopener", title="Image Search API", href="http://image-search-fcc-cozby.herokuapp.com/") Image Search API]
            .spacer
            p.appear #[strong I also enjoy some CSS.]
            p.appear #[strong Check out the responsive image grid below...]
            .spacer
    include ./images-grid
