.timeline#timeline
    .content
        .timeline-title Timeline
        .item
            .date 1992
            .caption Born in Maryland
        .item
            .date 1997
            .caption Got my first crush
        .item
            .date 1999
            .caption Got my first computer
        .item
            .date 2000
            .caption Joined traveling baseball and soccer teams
        .item
            .date 2001
            .caption Began learning the saxophone
        .item
            .date 2007
            .caption Too shy to dance with homecoming date
        .item
            .date 2008
            .caption First girlfriend
        .item
            .date 2010
            .caption Graduated High School
        .item
            .date 2010
            .caption Began College at the University of Miami (UM)
        .item
            .date 2014
            .caption Earned B.A. in Psychology from UM
        .item
            .date 2014
            .caption Began City Year in Miami, an AmeriCorps program
        .item
            .date 2016
            .caption Began learning how to code
        .item
            .date 2017
            .caption Got my first client as a Web Developer
