extends ../layout

block content

    include ../partials/contact.pug

    include ../partials/nav.pug

    include ../sections/above-the-fold.pug

    include ../sections/portfolio.pug

    include ../sections/timeline.pug

    include ../sections/story.pug

    include ../partials/footer.pug
