.landing-container {
    background-color: #333;
    color: #eee;
    text-shadow: 1px 1px 1px #000;
}

.banner-image {
    background-image: url('../../../assets/images/gardens-pic.jpg');
    background-position: 50% 0%;
    background-size: cover;
    width: 100%;
    height: 46vw;
}
