.portfolio {
    width: 100%;
    max-width: 1200px;
    padding: 1px;
}

.portfolio-title {
    margin: 35px 0 0 15px;
    font-size: 32px;
}

.creations {
    margin: 30px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    width: 280px;
    overflow: hidden;
    border-radius: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #aaa;
    margin: 15px;
    padding-bottom: 10px;
    box-shadow: 0 5px 18px -6px #444;
    background-color: #fff;

    @media all and (min-width: 375px) {
        width: 340px;
    }
}

.card-title {
    padding: 12px 15px;
    margin: 0;
    text-align: center;
    background-color: #555;
    color: #eee;
    font-family: 'Arsenal', sans-serif;

    @media all and (min-width: 768px) {
        font-size: 1.2em;
    }
}

.card-image {
    display: block;
    background-size: cover;
    background-position: center top;
    height: 150px;
    width: 100%;
    border-bottom: 1px solid #eee;

    @media all and (min-width: 375px) {
        height: 200px;
    }
}

.card-caption {
    margin: 12px 15px;

    p {
        font-size: 1rem;
        margin: 0 0 15px 0;
        line-height: 1.4;
        text-align: center;
    }
}

.card-buttons-container {
    display: flex;
    justify-content: space-around;
    margin: 10px 15px;
}

.card-demo,
.card-code {
    display: inline-block;
    padding: 5px 12px;
    text-decoration: none;
    color: #222;
    font-size: .8rem;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.view-all-creations-btn {
    text-align: center;
    display: block;
    margin: 40px auto;
    text-decoration: none;
    padding: 7px 12px;
    width: 140px;
    font-size: 14px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #333;
}
