// plugins
@import "_normalize";

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
$main-font: 'Ubuntu', sans-serif;
// base styles
* {
    box-sizing: border-box;
    position: relative;
    transition: all 200ms;
}
body {
    font-family: $main-font;
}

@import "_helpers";

// content
@import "_contact";
@import "nav/_nav";
@import "_above-the-fold";
@import "_images-container";
@import "_timeline";
@import "_story";
@import "_portfolio";
@import "_footer";

@import "_404";
