// plugins
@import "_normalize";

@import url('https://fonts.googleapis.com/css?family=Arsenal|Slabo+27px');
// base styles
* {
    box-sizing: border-box;
    position: relative;
    transition: all 200ms;
}
body {
    font-family: 'Slabo 27px', serif;
}

@import "_helpers";

// content
@import "_contact";
@import "nav/_nav";
@import "_above-the-fold";
@import "_about";
@import "_portfolio";
@import "_footer";

@import "_404";
