<div id="contact" class="contact">
<div id="close" aria-label="Close the contact form" class="close">
    <i aria-hidden="true" class="fa fa-times-circle"></i>
</div>
<form id="contact-form" name="sentMessage" novalidate="" class="contact-form">
    <label for="subject">Your Name</label>
    <input id="name" type="text" name="name" data-validation-required-message="Please enter your name." autofocus>
    <label for="message">Message</label>
    <textarea id="message" name="message" data-validation-required-message="Please enter a message." required></textarea>
    <label for="email">Your Email</label>
    <input id="email" type="email" name="email" data-validation-required-message="Please enter your email address." required>
    <label for="email">Your Phone</label>
    <input id="phone" type="tel" name="phone">
    <div id="success"></div>
    <button id="send" type="submit" class="send"><i aria-hidden="true" class="fa fa-paper-plane-o"></i> Send</button>
</form>
</div>