#contact.contact
    #close.close(aria-label="Close the contact form") #[i.fa.fa-times-circle(aria-hidden="true")]
    form#contact-form.contact-form
        label(for="subject") Subject
        input#subject(type="text", name="subject" autofocus)

        label(for="message") Message
        textarea#message(name="message")

        label(for="email") Your Email
        input#email(type="email", name="email" required)

        button#send.send(type="submit")
            i.fa.fa-paper-plane-o(aria-hidden="true")
            | &nbsp; Send
