footer
    .icons-container
        a.contact-btn(aria-label="contact")
            i.fa.fa-envelope-o(aria-hidden="true")
        a(href='https://www.linkedin.com/in/brentoncozby', target="_blank", rel="noopener" title="Brenton Cozby's LinkedIn", aria-label="Brenton Cozby's LinkedIn")
            i.fa.fa-linkedin(aria-hidden="true")
        a(href='https://github.com/BrentonCozby', target="_blank", rel="noopener" title="Brenton Cozby's GitHub", aria-label="Brenton Cozby's GitHub")
            i.fa.fa-github(aria-hidden="true")
    p.copyright © 2017 Brenton Cozby
