nav
    h1.title Brenton Cozby
        span.subtitle Web Developer
    #overlay.overlay
    #menu-button.menu-button
        span.span-top
        span.span-middle
        span.span-bottom
    ul#menu.menu
        li.menu-title MENU
        li.menu-li
            a.menu-a.smoothScroll(href="#portfolio")
                i.fa.fa-terminal.fa-fw(aria-hidden="true")
                | &nbsp; Creations
        li.menu-li
            a.menu-a.smoothScroll(href='https://www.linkedin.com/in/brentoncozby', target="_blank", rel="noopener" title="Brenton Cozby's LinkedIn")
                i.fa.fa-linkedin.fa-fw(aria-hidden="true")
                | &nbsp; LinkedIn
        li.menu-li
            a.menu-a.smoothScroll(href='https://github.com/BrentonCozby', target="_blank", rel="noopener" title="Brenton Cozby's GitHub")
                i.fa.fa-github.fa-fw(aria-hidden="true")
                | &nbsp; GitHub
        li.menu-li
            a.menu-a.smoothScroll.contact-btn
                i.fa.fa-envelope-o.fa-fw(aria-hidden="true")
                | &nbsp; Contact
