<nav>
    <h1 class="title">Brenton Cozby<span class="subtitle">Software Developer</span></h1>
    <div id="overlay" class="overlay"></div>
    <div id="menu-button" class="menu-button">
        <span class="span-top"></span>
        <span class="span-middle"></span>
        <span class="span-bottom"></span>
    </div>
    <ul id="menu" class="menu">
        <li class="menu-title">MENU</li>
        <li class="menu-li">
            <a href="#timeline" class="menu-a smoothScroll">
                <i aria-hidden="true" class="fa fa-terminal fa-fw"></i>
                &nbsp;Story
            </a>
        </li>
        <li class="menu-li">
            <a href="https://www.linkedin.com/in/brentoncozby" target="_blank" rel="noopener" title="Brenton Cozby's LinkedIn" class="menu-a smoothScroll">
                <i aria-hidden="true" class="fa fa-linkedin fa-fw"></i>
                &nbsp;LinkedIn
            </a>
        </li>
        <li class="menu-li">
            <a href="https://github.com/BrentonCozby" target="_blank" rel="noopener" title="Brenton Cozby's GitHub" class="menu-a smoothScroll">
                <i aria-hidden="true" class="fa fa-github fa-fw"></i>
                &nbsp;GitHub
            </a>
        </li>
        <li class="menu-li">
            <a class="menu-a smoothScroll contact-btn">
                <i aria-hidden="true" class="fa fa-envelope-o fa-fw"></i>
                &nbsp;Contact
            </a>
        </li>
    </ul>
</nav>