.menu {
    position: fixed;
    float: right;
    list-style-type: none;
    background-color: #333;
    color: #eee;
    border-bottom-left-radius: 4px;
    box-shadow: 0 0 15px 5px #000;
    width: 200px;
    right: -210px;
    top: -80px;
    opacity: 0;
    padding: 0 0 10px 0;
    margin: 0;
    z-index: 1000;
    transition: all .3s;

    @media all and (min-width: 768px) {
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: none;
        width: auto;
        right: auto;
        top: auto;
        opacity: 1;
        animation-name: zoomInFromLeft;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 100ms;
        z-index: 1;
    }

    &.revealed {
        right: 0;
        top: 0;
        opacity: 1;
    }

    &-title {
        font-size: 1.8rem;
        line-height: 0.9;
        margin: 0 0 10px 0;
        padding: 10px 0 8px 15px;
        background-color: #444;
        border-bottom: 2px solid #888;

        @media all and (min-width: 768px) {
            display: none;
        }
    }
}

.menu-a {
    display: block;
    padding: 0 0 0 15px;
    line-height: 3.5;
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
}

@media all and (min-width: 768px) {
    .menu-li,
    .menu-a {
        display: inline-block;
    }

    .menu-a {
        padding: 10px 5px;
        line-height: 1;
        margin: 20px 15px 0px 15px;
        color: #eee;
        text-shadow: 1px 1px 1px #000;
        font-weight: 400;
        font-size: 16px;

        &:first-of-type {
            margin-left: 0;
        }
    }
}

.contact-btn {
    animation-name: rainbow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
