footer {
    text-align: center;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;

    a {
        font-size: 2rem;
        color: #444;

        &:visited {
            color: #444;
        }
    }
}

.contact-btn {
    cursor: pointer;
}

.copyright {
    margin: 30px 0 20px 0;
    font-size: 1.1rem;
}
