.timeline {
    padding: 60px 20px;
    background-color: #111;
    width: 100%;
    color: #fff;

    .content {
        max-width: 600px;
        margin: auto;
    }

    &-title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 40px;
        letter-spacing: 1px;
    }
}

.timeline .item {
    margin: 25px 0;
    display: flex;
    flex-flow: row;

    .date {
        font-weight: 700;
        color: rgba(255, 255, 255, .5);
    }

    .caption {
        width: 100%;
        margin-left: 15px;
    }
}
